.movies__section {
  width: 100%;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
}

.movies__list {
  // max-width: 1630px;
  padding: 50px 0 9px 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 250px));
  max-width: 1400px;
  margin: 0 auto;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 32px 28px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .movies__list {
    max-width: 80%;
  }
}

// @media screen and (max-width: 767px) {
//   .movies__list {
//     padding: 41px 10px 10px 10px;
//     gap: 15px;
//   }
// }
