.card {
  position: relative;
  background: #222;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);

    .card__image {
      transform: scale(1.05);
    }

    .card__container {
      background: rgba(0, 0, 0, 0.9);
    }

    .card {
      background: rgba(0, 0, 0, 0.9);
    }

    .card__title,
    .card__year {
      color: #fff;
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &__container {
    padding: 16px;
    background: #222;
    transition: background 0.3s ease;
    flex-grow: 1;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #fff;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: color 0.3s ease;
    font-family: var(--font-family);
  }

  &__year {
    font-size: 14px;
    color: #ccc;
    margin: 0;
    transition: color 0.3s ease;
    font-family: var(--font-family);
  }
}

@media (max-width: 768px) {
  .card {
    &__image {
      height: 250px;
    }

    &__container {
      padding: 12px;
    }

    &__title {
      font-size: 14px;
    }

    &__year {
      font-size: 12px;
    }
  }
}
