.card {
  width: 250px;
  height: 100%;
  border-radius: 14px 14px 14px 14px;
  background: #222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 10px;
}

.card__title {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  color: #fff;
}

.card__year {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

// .card__link {
//   text-decoration: none;
//   transition: opacity 0.3s linear;
// }

// .card__link:hover {
//   opacity: 0.7;
//   cursor: pointer;
// }

.card__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 14px 14px 0 0;
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}
