#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  align-items: center;
  width: 100%;
  &__title {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 54px;
  }
}

.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
}

.footer {
  display: flex;
}
