#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  align-items: center;
  width: 100%;
  &__title {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 54px;
  }
}

.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
}

.footer {
  display: flex;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 95%;
    &__title {
      font-size: 44px;
    }
  }
}

@media screen and (max-width: 767px) {
  #root {
    padding: 1rem;
  }

  .header {
    max-width: 95%;
    flex-direction: column;
    gap: 15px;
    &__title {
      font-size: 39px;
    }
  }
}
