#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  align-items: center;
  width: 100%;
}

.main {
  flex-grow: 1;
}
